<div class="jumbotron">
    <div class="container" id="title-space">
        <div id="title-display">
            <h1 class="caption">Mongo Scrapper</h1>
            <h2>New Your Times Edition</h2>
        </div>

    </div>
</div>
<div class="container article-container">
    <div class="articles">
        <h2>Articles Go Here!</h2>
    </div>
</div>