<div class="jumbotron">
    <div class="container">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <h1 class="caption">Mongo Scrapper</h1>
        <p>New Your Times Edition</p>
        <p><a class="btn btn-danger btn-lg" role="button">Scrape New Articles &raquo;</a></p>
    </div>
</div>
<div class="container-fluid article-container">
</div>
<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>