<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Mongo Scrapper</h1>
      <p>New Your Times Edition</p>
      <p><a class="btn btn-danger btn-lg" role="button">Scrape New Articles &raquo;</a></p>
    </div>
  </div>
  <div class="container-fluid article-container">
  </div>
  <footer class="footer">
      <div class="container">
          <p>New York Times Mongo Scraper</p>
      </div>
  </footer>
